.hero-container {
  overflow: hidden;
  padding: 0;
  position: relative;
  height: 690px;
  margin-bottom: 40px;
}

.hero-video {
  box-sizing: border-box;
  height: 56.25vw;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  width: 177.77777778vh;
}

.blockquote {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 40px;
  padding: 20px 20px 20px 30px;
}

.gradient-text {
  background: linear-gradient(35deg, #72d579, #0d6efd);
  background-size: 300% 300%;
  animation: layout-module--gradient--ovffC 15s ease infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s ease-out;
}

.media-wrapper {
  max-width: 1100px;
  max-height: auto;
  margin: auto;
  width: 100%;
}

.vimeo-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  overflow: hidden;
}

.vimeo-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.mixcloud-container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-gap: 20px;
}
