.navbar-custom {
  background-color: white;
  color: white;
}

#responsive-navbar-nav {
  flex-grow: initial;
}

.navbar-dark .navbar-toggler {
  border-color: black !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
