.nav-link {
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-link.active {
  color: black !important;
}

.navbar-brand {
  margin-right: 0 !important;
  margin-left: 30px;
}

.navbar {
  background-color: transparent;
}

.navbar.active {
  /* background-color: black; */

  top: -100px;
}
